<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog</title>

  {{/* Fonts */}}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet" />

  {{/* */}}
  <link rel="stylesheet" href="styles/main.css" />
</head>

<body class="container homepage">
  {{ partial "navbar" . }}

  <main>
    <h1>👋 Hello, welcome!</h1>
    <p>
      This blog is where I share my learnings in web development, with the goal
      of making each post as structured and easy to understand as possible.
    </p>
    <p>
      To learn more about me, the purpose of this blog, and how to make the most
      of your experience here, please visit the <a href="/">about page</a>.
    </p>

    <h2>Not sure where to start?</h2>
    <p>
      Follow the recommended learning path to navigate the blog in a structured
      manner.
    </p>
    <p>
      This section includes a curated list of major articles, arranged
      in a logical sequence to help build your understanding step by step.
    </p>
    <a href="/">Start here: the recommended learning path</a>

    <h2>Latest posts</h2>
    <p>
      Here are the latest 3 posts on the blog. To view all posts, you can
      <a href="/">browse here</a>.
    </p>
  </main>
  {{ partial "footer" . }}
</body>

</html>